
.page.theme_light {
  --header-title: #FFC2E6;
  --accent-color: #FF0070;
  --title-decor: #353430;
  --bg-color-decor: #FF8DCB;
  --article-title-color: #353430;
  --content-color: #353430;
  --accent-link: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color-page: #FFF1F7;
  --link-underline: 1px solid #353430;
  --border: 1px solid transparent;
  --button-color: #353430;
  --border-focus: 1px solid #353430;
  --border-hover: 1px solid #32312D66;
  --border-enabled: 1px solid #353430;
  --header-decor: 1px solid #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --header-title: #FFC2E6;
    --accent-color: #FF0070;
    --title-decor: #353430;
    --bg-color-decor: #FF8DCB;
    --article-title-color: #353430;
    --content-color: #353430;
    --accent-link: #FF8DCB;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color-page: #FFF1F7;
    --link-underline: 1px solid #353430;
    --border: 1px solid transparent;
    --button-color: #353430;
    --border-focus: 1px solid #353430;
    --border-hover: 1px solid #32312D66;
    --border-enabled: 1px solid #353430;
    --header-decor: 1px solid #353430;
  }

  .header__logo {
    display: none;
  }
}

.theme_light .header__logo {
  display: none;
}

